.body-forgot body{
    background-color: #6EC6CA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.forgot-form{
    margin-top: 70px;
    background: transparent;
    padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.forgot-form form{
  max-width: 400px;
  margin: 0 auto;
  background-color: #373737;
  border: 1px transparent #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

.forgot-content{
    margin: auto;
    margin-top: 30px;
    padding: 9px;
    margin-left: 10px;
}

.forgot-content h2{
    font-size: 20px;
    text-align: center;
}

.forgot-group{
    margin-bottom: 20px;
}

.forgot-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.966);
}

.forgot-group input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.777);
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.forgot-group input::placeholder{
    color: white;
    text-align: justify;
}

.new-btn{
    background-color: rgb(245, 197, 24);
    width: 100%;
    color: black;
    padding: 12px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    /* margin-left: 230px; */
    margin-bottom: 30px;
}

.new-btn:hover{
    background-color: #CCD0CF;
    color: #4A5C6A;
}
